.chat-main
  .header
    .header__left-box
      %p.header__left-box__current-group
        = @group.name 
      %ul.header__left-box__member-list
        Member：
        %li.header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
    =link_to 'Edit', edit_group_path(@group), class: "header__edit-btn" 
  .messages
    = render @messages
  .form
    = form_with model: [@group, @message], html: {class: "form__box"}, local: true do |f|
      .form__box__contents
        = f.text_field :content, class: 'form__box__contents__text', placeholder: 'type a message'
        = f.label :image, class: 'form__box__contents__icon' do
          = icon('far', 'image', class: 'form__box__contents__icon__style')
          = f.file_field :image
      = f.submit 'Send', class: 'form__box__submit'


